:root {
    --header-bg-color: #E0F8F2;
    --button-color: #FF6D2C;
    --font-color: #009387;
    --big-bg-color: #FDF3EA;
    --third-bg-color: #E3F8F8;
    --fourth-bg-color: #EEECFF;
    --text-color: #2E2F35;
    --small-text-color: #58595D;
}