@import url('variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.hidden-btn {
    opacity: 0;
    pointer-events: none;
}

.move-up {
    transform: translateY(-5px);
}

.fa-angle-down {
    display: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.logo img {
    width: 130px;
}

footer img {
    width: 150px;
}

.strip {
    position: absolute;
    top: 7.5px;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: #fff;
}

.navbar {
    transform: translateY(28px);
    height: 65px;
    position: relative;
    align-items: center;
}

.navbar nav {
    width: 100%;
    display: flex;
    align-items: center;
}

.main-header {
    background-color: var(--header-bg-color);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-container {
    margin: 0 auto;
    padding: 0 20px;
}

.navbar .menu-icon {
    order: 2;
    cursor: pointer;
    color: var(--text-border-color);
    font-size: 1.25rem;
    margin-left: 20px;
}

.main-menu {
    list-style: none;
    position: absolute;
    top: 45px;
    right: 2000px;
    background-color: var(--big-bg-color);
    width: 100vw;
    height: calc(100dvh - 73px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
}

.main-menu li:not(:last-child) {
    margin-bottom: 20px;
}

.main-menu li a {
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
}

.main-menu.menu-open {
    left: 0;
}

.btn-top-down {
    border-radius: 12px;
    border: 2px solid var(--text-border-color);
    box-shadow: 3px 3px 0px var(--text-border-color);
    width: 32px;
    height: 32px;
    font-size: .875rem;
    font-family: Inter, sans-serif;
    cursor: pointer;
}

.btn-top-down span {
    display: none;
}

button.login {
    margin-left: auto;
    margin-right: 15px;
    background-color: #fff;
    color: var(--text-border-color);
}

button.create-account {
    background-color: var(--button-color);
    color: #fff;
}

.create-account img {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.header-content {
    overflow: hidden;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 73px);
    gap: 20px;
}

.header-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
}

.highlight {
    font-family: Covered By Your Grace, cursive;
    font-style: normal;
    font-weight: 400;
    color: var(--font-color);
    font-size: 128%;
}

.header-subtitle {
    font-size: 14px;
    color: var(--small-text-color);
    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 1.5;
}

.header-image {
    width: 280px;
    position: relative;
    align-self: center;
}

.header-statistics {
    position: absolute;
    top: -20px;
    right: -30px;
}

.stars {
    align-items: center;
    width: 16px;
    height: 16px;
}

.reviews {
    font-size: 12px;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
    font-weight: 500;
}

.btn-try-it {
    border-radius: 15px;
    border: 2px solid var(--text-border-color);
    box-shadow: 3px 3px 0px var(--text-border-color);
    width: 200px;
    height: 38px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--button-color);
    color: #fff;
    font-family: Inter, sans-serif;
    cursor: pointer;
}

.button-tirf-header {
    margin-top: 40px;
}

/* --------------- Brand Section --------------------- */
.brand-section {
    background-color: #fff;

}

.brand-section-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
    text-align: center;
    margin: 7.36vw auto 4.03vw;
    line-height: 36px;
}



.brands {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 6.67vw;
}

.card {
    flex-direction: column;
    align-items: center;
    width: calc(50% - 40px);
    max-width: 284px;
}

.brand-photo {
    width: 100%;
    aspect-ratio: 284 / 193;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.brand-logo {
    width: 70%;
    height: 32px;
    margin-top: 12px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.first-brand-photo {
    background-image: url(../images/first-brand-img.png);
}

.first-brand-logo {
    background-image: url(../images/first-brand-name.png);
}

.second-brand-photo {
    background-image: url(../images/second-brand-img.png);
}

.second-brand-logo {
    background-image: url(../images/second-brand-name.png);
}

.third-brand-photo {
    background-image: url(../images/third-brand-img.png);
}

.third-brand-logo {
    background-image: url(../images/third-brand-name.png);
}

.fourth-brand-photo {
    background-image: url(../images/fourth-brand-img.png);
}

.fourth-brand-logo {
    background-image: url(../images/fourth-brand-name.png);
    width: clamp(40px, 6vw, 60px);
}

/* --------------- Statistics Section --------------------- */
.statistics-section {
    background-color: #f3fafa;
    padding-top: 7.36vw;
}

.statistics-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
    text-align: center;
    margin: 0 auto 4.03vw;
    line-height: 36px;
    letter-spacing: -2px;
}

.statistics-blocks {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 40px 0;
}

.statistics-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.statistics-content h3 {
    font-size: 30px;
    font-weight: 700;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
    text-align: center;
    line-height: 36px;
    letter-spacing: -2px;
}

.statistics-content p {
    color: var(--small-text-color);
    font-size: 14px;
    width: 45.13vw;
    font-weight: 500;
    font-family: Inter, sans-serif;
    text-align: center;
    line-height: 22px;
}

.statistics-img {
    background-image: url(../images/statistic.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 228px;
    height: 200px;
}

/* --------------- Features Section --------------------- */
.features {
    background-color: var(--big-bg-color);
    padding-top: 6vw;
}

.feature-section-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
    text-align: center;
    margin: 24px 0 60px 0;
    line-height: 36px;
}

.features-blocks {
    flex-direction: column;

}

.feature-block {
    flex-direction: column;
    margin-bottom: 128px;
    gap: 31px;
}

.first-feature-block,
.third-feature-block {
    justify-content: flex-start;
    align-self: flex-start;
}

.second-feature-block {
    justify-content: flex-end;
    align-self: flex-end;
}

.message {
    flex-direction: column;
    margin: 0;
    position: relative;
    background: transparent;
    border: 1px solid #d1c7be;
    border-radius: 15px;
    padding: 24px;
    gap: 16px;
}

.quote {
    position: absolute;
    top: -7px;
    color: var(--button-color);
    left: 17px;
    font-size: 40px;
    line-height: 0.8;
    background: var(--big-bg-color);
    padding: 0 2px;
}

.feature-block-title {
    font-size: 26px;
    font-weight: 700;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
}

.feature-block h2 {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
}

.feature-block p {
    color: var(--small-text-color);
    font-size: 15px;
    font-weight: 500;
    font-family: Inter, sans-serif;
    line-height: 26px;
}

.message p {
    color: var(--small-text-color);
    font-size: 12px;
    font-weight: 500;
    font-family: Inter, sans-serif;
    line-height: 22px;
}

.autor span {
    color: #A89B90;
    font-size: 10px;
    font-weight: 400;
    font-family: Inter, sans-serif;
}

.autor {
    align-items: center;
    justify-content: space-between;
}

.feature-logo {
    height: 24px;
    width: auto;
    display: block;
}

.feature-block:last-child {
    margin-bottom: 48px;
}

.button-tirf-feature {
    margin-bottom: 111px;
}

/* --------------- Brand needs -------------------*/
.brand-needs-content {
    margin-top: 7.43vw;
}

.brand-needs-content h2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
    text-align: center;
    margin: 0 auto;
    line-height: 36px;
    letter-spacing: -2px;
}

.brand-needs-container {
    margin-top: 4.45vw;
    margin-bottom: 6.67vw;
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;

}

.brand-needs-card {
    width: calc(100% - 40px);
    max-width: 410px;
    height: 522px;
    border-radius: 13px;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-self: center;

}

.brand-needs-card.card-1 {
    background-color: var(--big-bg-color);
}

.brand-needs-card.card-1 .img {
    background-image: url("../images/brand-needs_1.png");
    max-height: 208px;
    height: calc(100% - 80px);
    width: calc(100% - 80px);
    max-width: 330px;

}

.brand-needs-card.card-2 {
    background-color: var(--header-bg-color);
}

.brand-needs-card.card-2 .img {
    background-image: url("../images/brand-needs_2.png");
    max-height: 150px;
    height: calc(100% - 80px);
    width: calc(100% - 80px);
    max-width: 308px;
}

.brand-needs-card.card-3 {
    background-color: var(--brand-result-bg-color);
}

.brand-needs-card.card-3 .img {
    background-image: url("../images/brand-needs_3.png");
    max-height: 222px;
    height: calc(100% - 80px);
    width: calc(100% - 80px);
    max-width: 317px;

}

.brand-needs-card.card-4 {
    background-color: #D9F2F7;
}

.brand-needs-card.card-4 .img {
    background-image: url("../images/brand-needs_4.png");
    max-height: 220px;
    height: calc(100% - 80px);
    width: calc(100% - 80px);
    max-width: 309px;

}

.brand-needs-card.card-5 {
    background-color: #FAEDED;
}

.brand-needs-card.card-5 .img {
    background-image: url("../images/brand-needs_5.png");
    max-height: 181px;
    height: calc(100% - 80px);
    width: calc(100% - 80px);
    max-width: 250px;

}

.brand-needs-card.card-6 {
    background-color: #F1F1F1;
}

.brand-needs-card.card-6 .img {
    background-image: url("../images/brand-needs_6.png");
    max-height: 224px;
    height: calc(100% - 80px);
    width: calc(100% - 80px);
    max-width: 300px;

}

.brand-needs-card .img {
    margin: auto auto 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.brand-needs-card h3 {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: var(--text-border-color);
    margin-top: 48px;
    margin-bottom: 8px;
    width: calc(100% - 80px);
    max-width: 330px;
}

.brand-needs-card p {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
    color: var(--small-text-color);
    margin-bottom: auto;
    width: calc(100% - 80px);
    max-width: 330px;
}

/* --------------- Steps section -----------------*/

.steps {
    background-color: var(--steps-bg-color);
    padding: 6.67vw 0;
}

.step-section h2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
    text-align: center;
    margin: 0 auto;
    line-height: 38px;
    letter-spacing: -2px;
}

.steps-name {
    margin-top: 59px;
}

.step {
    align-items: center;
    gap: 40px;
    margin-bottom: 32px;
}

.step h3 {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.5px;
    color: rgba(46, 47, 53, 0.4);
}

.step span {
    color: rgba(0, 147, 135, 0.4);
}

.step .left {
    flex-direction: column;
    align-items: center;
}

.step .left span {
    color: rgba(0, 147, 135, 1);
}

.step .content h3 {
    color: var(--text-border-color);
}

.step .content p {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 19px;
    color: var(--small-text-color);
    max-width: 224px;
    height: 57px;
}

.step .line {
    position: relative;
    width: 2px;
    height: 50px;
    background: #A0CDCD;
    margin-top: 10px;
}

.step .line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 30px;
    background: #2E2F35;
}

/*------------------ Reviews Section --------*/
.reviews-section {
    overflow: visible;
    margin: 6.67vw 0;
    background-color: #fff;
}

.reviews-section h2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
    text-align: center;
    margin: 0 auto;
    line-height: 38px;
    letter-spacing: -2px;
}

.reviews-content {
    gap: 25px;
    margin-top: 80px;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px 40px;
    scrollbar-width: none;
}

.reviews-content::-webkit-scrollbar {
    display: none;
}

.review {
    align-self: flex-start;
    width: 410px;
    min-width: 330px;
    background: #fff;
    border: 2px solid var(--text-border-color);
    border-radius: 18px;
    padding: 25px;
    text-align: left;
    flex-shrink: 0;
}

.card-header {
    align-items: center;
    gap: 16px;
    margin-bottom: 25px;
}

.card-header img,
.avatar-placeholder {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.button-wrapper {
    margin-top: 64px;
    text-align: center;
}

.twitter {
    margin-left: auto;
}

.twitter img {
    color: rgba(0, 0, 0, 1);
    width: 32px;
    height: 32px;
}

.nickname h3 {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: var(--text-border-color);
}

.nickname p {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--small-text-color);
}

.review-text {
    font-family: Inter, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: var(--small-text-color);
}

.postpilot {
    font-weight: 700;
}

/*---------------- Brand Results -----------------*/
.case-study-section {
    background-color: var(--brand-result-bg-color);
    padding: 6.67vw 0;
}

.case-study {
    overflow: hidden;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.case-content {
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.case-content h2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
    text-align: center;
    margin: 0 auto;
    line-height: 38px;
    letter-spacing: -2px;
}

.case-content .description {
    font-size: 14px;
    color: var(--small-text-color);
    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 16px;
    text-align: center;
    margin: 0 auto;
}

.case-image {
    width: 280px;
    position: relative;
    align-self: center;
}

.stats {
    justify-content: space-between;
    flex-direction: row;
    width: 300px;
}

.stat {
    text-align: center;
}

.stat h3 {
    font-size: 20px;
    font-weight: 700;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
    text-align: center;
    margin: 0 auto;
    letter-spacing: -1px;
}

.stat span {
    font-size: 12px;
    color: var(--small-text-color);
    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 15px;
    text-align: center;
    margin: 0 auto;
}

.case-btn {
    text-align: center;
}

.case-btn button {
    margin: 20px;
    border-radius: 15px;
    border: 2px solid var(--text-border-color);
    box-shadow: 3px 3px 0px var(--text-border-color);
    width: 200px;
    height: 38px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #fff;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
    cursor: pointer;
    align-self: center;
}

.brands-tabs {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 350px;
}

.brand-tab:first-child {
    border-bottom: 2px solid var(--font-color);
}

.brand-tab {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0 0 10px;
    height: 7.2vw;
    max-height: 54px;
}

.brand-tab img {
    height: 3.7vw;
    max-height: 17px;
    width: auto;
    display: block;
}

/* --------------- Try PostPilot -------------------*/
.try-pp-section {
    background-color: var(--button-color);
    padding: 6.67vw 0;
}

.try-pp {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.try-pp h2 {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    font-family: Inter, sans-serif;
    text-align: center;
    margin: 0 auto;
    line-height: 38px;
}

.try-pp h3 {
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    font-family: Inter, sans-serif;
    text-align: center;
    margin: 0 auto;
}

.try-pp p {
    font-size: 9px;
    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 12px;
    text-align: center;
    margin: 0 auto;
    color: rgba(255, 255, 255, 0.7);
}

.try-pp-image {
    width: 280px;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.try-pp-stars {
    justify-content: center;
    align-items: center;
}

.try-pp-rating {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.try-pp-reviews {
    font-size: 12px;
    color: #fff;
    font-family: Inter, sans-serif;
    font-weight: 500;
}

.try-pp-btn {
    border-radius: 15px;
    border: 2px solid var(--text-border-color);
    box-shadow: 3px 3px 0px var(--text-border-color);
    width: 190px;
    height: 50px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #fff;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
    cursor: pointer;
    margin: 20px 0;
}

/* --------------- Trends -------------------*/
.trends-section {
    background-color: #f3fafa;
    padding: 6.67vw 0;
}

.trends-content h2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
    text-align: center;
    margin: 0 auto;
    line-height: 36px;
    letter-spacing: -2px;
}

.trend-container {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    margin-top: 5.14vw;
}

.trend-card {
    width: calc(100% - 40px);
    max-width: 410px;
    height: 100%;
    max-height: 396px;
    text-align: center;
    justify-content: start;
    align-items: center;
    flex-direction: column;


}

.trend-card.card-1 .img {
    background-image: url("../images/trend-1.png");
}

.trend-card.card-2 .img {
    background-image: url("../images/trend-2.png");
}

.trend-card.card-3 .img {
    background-image: url("../images/trend-3.png");
}

.trend-card .img {
    width: 100%;
    aspect-ratio: 410 / 272;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.trend-card h3 {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: var(--text-border-color);
    max-width: 357px;
    text-align: left;
}


/* --------------- Media Queries --------------------- */

@media (min-width: 769px) {
    .main-container {
        padding: 0 40px;
    }

    .logo img {
        width: 163px;
    }


    .btn-top-down {
        height: 44px;
    }

    .btn-top-down span {
        display: inline;
    }

    .btn-top-down i,
    .btn-top-down img {
        display: none;
    }

    button.login {
        width: 84px;
        font-size: 15px;
        font-weight: 500;
    }

    button.create-account {
        width: 185px;
        font-size: 14px;
        font-weight: 500;
    }

    #headerImage .header-postcard {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .header-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        align-items: start;
        align-content: center;
        padding: 40px 40px 0;
        gap: 48px 0;
        overflow: hidden;
    }

    .header-title {
        grid-column: 1;
        grid-row: 1;
        font-size: 5.69vw;
        line-height: 1.15;
    }

    .header-subtitle {
        grid-column: 1;
        grid-row: 2;
        font-size: 1.39vw;
    }

    .btn-try-it {
        grid-column: 1;
        grid-row: 3;
        width: 200px;
        height: 44px;
        font-size: 14px;
        margin-top: 0;

    }

    .button-tirf-header {
        justify-self: start;
    }

    .rating {
        grid-column: 1;
        grid-row: 3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        justify-self: start;
        align-self: center;
        margin-left: 220px;
    }

    .stars {
        width: auto;
        height: auto;
        gap: 2px;
    }

    .stars img {
        width: 18px;
        height: 18px;
    }

    .reviews {
        font-size: 14px;
    }

    #headerImage {
        grid-column: 2;
        grid-row: 1 / 5;
        width: 100%;
        height: 100%;
        position: relative;
        align-self: center;
        overflow: visible;
    }

    #headerImage .header-postcard {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .header-statistics {
        width: 80%;
        top: 0px;
        right: 30px;
    }

    .brands {
        gap: 8vw;
    }

    .features {
        padding-top: 5.98vw;
    }

    .feature-block {
        flex-direction: column;
        width: 300px;
        margin-bottom: 180px;
        gap: 31px;
    }

    .feature-section-title {
        margin: 0 auto 9.86vw auto;
        font-size: 40px;
        width: 600px;
    }

    .step-section h2 {
        font-size: 4.17vw;
        line-height: 5.28vw;
    }

    .step h3 {
        font-size: 2.5vw;
        line-height: 3.06vw;
    }

    .step .content p {
        font-size: 1.38vw;
        line-height: 2.36vw;
        max-width: 27.3vw;
        height: 7.08vw;
    }

    .step .line {
        height: 6.67vw;
    }

    .step .line::before {
        height: 3.98vw;
    }

    .reviews-section h2 {
        font-size: 4.375vw;
        line-height: 5.28vw;
    }

    .try-pp-section {
        padding: 0;
    }

    .try-pp {

        height: 41.7vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        align-items: start;
        align-content: start;
    }

    .try-pp h2 {
        padding-top: 3.3vw;
        margin: 0;
        grid-column: 1;
        grid-row: 1;
        font-size: 5.63vw;
        line-height: 6.67vw;
        width: 35.35vw;
        text-align: left;
    }

    .try-pp h3 {
        grid-column: 1;
        grid-row: 2;
        font-size: 1.39vw;
        line-height: 2.36vw;
        text-align: left;
        margin: 0;
    }

    .try-pp p {
        padding-bottom: 3.3vw;
        grid-column: 1;
        grid-row: 4;
        font-size: 1vw;
        line-height: 1.53vw;
        text-align: left;
        margin: 0;
    }

    .try-pp-btn {
        grid-column: 1;
        grid-row: 3;
        width: 190px;
        height: 64px;
        margin: 0;
        justify-self: start;
    }

    .rating {
        grid-column: 1;
        grid-row: 3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        justify-self: start;
        align-self: center;
        margin-left: 220px;
    }


    .try-pp-stars img {
        width: 24px;
        height: 24px;
    }

    .try-pp-reviews {
        font-size: 1.12vw;
        line-height: 1.67vw;
    }

    .try-pp-image {
        grid-column: 2;
        grid-row: 1 / 5;
        display: block;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: visible;
    }

    .try-pp-postcard {
        width: 41.4vw;
        height: 41.7vw;
        display: block;
    }

    .trend-card h3 {
        font-size: 1.81vw;
        line-height: 2.5vw;
    }

    .trends-content h2 {
        font-size: 4.73vw;
        line-height: 5.28vw;
    }

}

@media (min-width: 1095px) {
    .main-container {
        padding: 0 60px;
    }

    .menu-icon {
        display: none;
    }

    .fa-angle-down {
        display: inline;
    }

    .navbar {
        width: 100%;
        padding: 0 75px;
    }

    .main-menu {
        position: static;
        background-color: transparent;
        height: 56px;
        flex-direction: row;
        font-size: 14px;
        justify-content: flex-end;
    }

    .main-menu li:not(:last-child) {
        margin-bottom: 0;
    }

    .main-menu li a {
        padding: 19px;
    }

    .main-menu li:nth-child(odd) a {
        color: #222222;
    }

    button.login {
        margin-left: 19px;
        flex-shrink: 0;
    }

    button.create-account {
        flex-shrink: 0;
    }

    #headerImage {
        max-height: 80vh;
    }

    #headerImage .header-postcard {
        max-height: 80vh;
    }

    .header-statistics {
        width: 80%;

    }

    .card {
        width: calc(25% - 15px);
    }

    .brands {
        gap: 20px;
    }

    .brand-logo {
        margin-top: 24px;
    }

    .brand-section-title {
        width: 650px;
        font-size: 4.38vw;
        line-height: 5.28vw;
    }

    .statistics-section {
        background-color: #f3fafa;
        padding-top: 7.36vw;
    }

    .statistics-title {
        width: 603px;
        font-size: 63px;
        margin: 0 auto 4.03vw;
        line-height: 76px;
        letter-spacing: -2px;
    }

    .statistics-blocks {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 170px;
        padding: 0 0 98px 0;
    }

    .statistics-content {
        width: 228px;
        gap: 2vw;
    }

    .statistics-content h3 {
        font-size: 63px;
        line-height: 75px;
    }

    .statistics-content p {
        width: 228px;
        font-size: 14px;
        line-height: 22px;
    }

    .statistics-img {
        width: 228px;
        height: 200px;
    }

    .feature-section-title {
        font-size: 4.86vw;
        line-height: 5.28vw;
        width: 63.45vw;
    }

    .feature-block h2 {
        font-size: 4.17vw;
        line-height: 4.86vw;
    }

    .first-feature-block,
    .third-feature-block {
        width: 324px;
    }

    .second-feature-block {
        width: 645px;
    }

    .feature-block p {
        font-size: 15px;
        line-height: 26px;
    }

    .message p {
        font-size: 12px;
        line-height: 22px;
    }

    .autor span {
        font-size: 10px;
    }

    .brand-needs-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .brand-needs-content h2 {
        font-size: 64px;
        line-height: 76px;
    }

    .brand-needs-card h3 {
        font-size: 28px;
        line-height: 36px;
    }

    .brand-needs-card p {
        font-size: 16px;
        line-height: 30px;
    }

    .case-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        align-items: start;
        align-content: start;
        height: 42.5vw;
    }

    .case-image {
        grid-column: 1;
        grid-row: 1 / 5;
        width: 100%;
        height: auto;
        display: block;
        position: relative;
        align-self: center;
        overflow: visible;
    }

    .case-content h2 {
        padding: 0;
        margin: 0;
        grid-column: 2;
        grid-row: 1;
        font-size: 4.17vw;
        line-height: 5.28vw;
        width: 39.24vw;
        text-align: left;
        height: 20.83vw;
    }

    .case-content .description {
        text-align: left;
        grid-column: 2;
        grid-row: 2;
        font-size: 1.38vw;
        line-height: 2.36vw;
        width: 45.57vw;
    }

    .stat h3 {
        font-size: 34px;
        line-height: 30px;
    }

    .stat span {
        font-size: 14px;
        line-height: 22px;
    }

    .stats {
        grid-column: 2;
        grid-row: 3;
        width: 45.57vw;
        justify-content: space-between;
    }

    .case-btn {
        text-align: left;
    }

    .case-btn button {
        margin: 0;
        grid-column: 2;
        grid-row: 4;
        width: 232px;
        height: 64px;

    }

    .brands-tabs {
        max-width: 45.57vw;
    }

    .brand-tab img {
        max-height: 28px;
    }

    .case-study {
        align-items: end;
    }
}

@media (min-width: 1250px) {
    .main-container {
        padding: 0 75px;
    }

    .header-content {
        grid-template-columns: 1fr 40%;
        align-items: start;
        padding: 148px 0 128px 75px;
    }

    .header-title {
        font-size: 5.69vw;
    }

    .header-subtitle {
        font-size: 1.39vw;
        max-width: 400px;
    }

    .btn-try-it {
        width: 260px;
        height: 64px;
    }

    .rating {
        margin-left: 300px;
        padding-right: 40px;
    }

    #headerImage {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: visible;
        align-self: end;
        grid-row: 1 / 5;
    }

    #headerImage .header-postcard {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .header-statistics {
        right: 20px;
        width: 90%;
    }

    .card img:first-child {
        width: 284px;
    }

    .first-brand-logo {
        width: 184px;
    }

    .second-brand-logo {
        width: 235px;
    }

    .third-brand-logo {
        width: 166px;
    }

    .fourth-brand-logo {
        width: 60px;
    }

    .brand-needs-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .trend-container {
        gap: 30px;
    }
}