@import url('variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.hidden-btn {
    opacity: 0;
    pointer-events: none;
}

.move-up {
    transform: translateY(-5px);
}

.fa-angle-down {
    display: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

.logo img {
    width: 130px;
}

footer img {
    width: 150px;
}

.strip {
    position: absolute;
    top: 7.5px;
    left: 0;
    width: 100%;
    height: 65px;
    background-color: #fff;
}

.navbar {
    transform: translateY(28px);
    height: 65px;
    position: relative;
    align-items: center;
}

.navbar nav {
    width: 100%;
    display: flex;
    align-items: center;
}

.main-header {
    background-color: var(--header-bg-color);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.main-container {
    margin: 0 auto;
    padding: 0 20px;
}

.navbar .menu-icon {
    order: 2;
    cursor: pointer;
    color: var(--text-border-color);
    font-size: 1.25rem;
    margin-left: 20px;
}

.main-menu {
    list-style: none;
    position: absolute;
    top: 45px;
    right: 2000px;
    background-color: var(--big-bg-color);
    width: 100vw;
    height: calc(100dvh - 73px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
}

.main-menu li:not(:last-child) {
    margin-bottom: 20px;
}

.main-menu li a {
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
}

.main-menu.menu-open {
    left: 0;
}

.btn-top-down {
    border-radius: 12px;
    border: 2px solid var(--text-border-color);
    box-shadow: 3px 3px 0px var(--text-border-color);
    width: 32px;
    height: 32px;
    font-size: .875rem;
    font-family: Inter, sans-serif;
    cursor: pointer;
}

.btn-top-down span {
    display: none;
}

button.login {
    margin-left: auto;
    margin-right: 15px;
    background-color: #fff;
    color: var(--text-border-color);
}

button.create-account {
    background-color: var(--button-color);
    color: #fff;
}

.create-account img {
    width: 20px;
    height: 20px;
    margin: 0 auto;
}

.header-content {
    overflow: hidden;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 73px);
    gap: 20px;
}

.header-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
}

.highlight {
    font-family: Covered By Your Grace, cursive;
    font-style: normal;
    font-weight: 400;
    color: var(--font-color);
    font-size: 128%;
}

.header-subtitle {
    font-size: 14px;
    color: var(--small-text-color);
    font-family: Inter, sans-serif;
    font-weight: 500;
    line-height: 1.5;
}

.header-image {
    width: 280px;
    position: relative;
    align-self: center;
}

.header-statistics {
    position: absolute;
    top: -20px;
    right: -30px;
}

.stars {
    display: flex;
    align-items: center;
    width: 16px;
    height: 16px;
}

.reviews {
    font-size: 12px;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
    font-weight: 500;
}

.btn-try-it {
    border-radius: 15px;
    border: 2px solid var(--text-border-color);
    box-shadow: 3px 3px 0px var(--text-border-color);
    width: 200px;
    height: 38px;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--button-color);
    color: #fff;
    font-family: Inter, sans-serif;
    cursor: pointer;
}
.button-tirf-header {
    margin-top: 40px;
}
/* --------------- Brand Section --------------------- */
.brand-section {
    background-color: #fff;
    
}
.brand-section-title{
    font-size: 30px;
    font-weight: 700;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
    text-align: center;
    margin: 7.36vw auto 4.03vw;
    line-height: 36px;
}



.brands {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 6.67vw;
}

.card {
    flex-direction: column;
    align-items: center;
    width: calc(50% - 40px);
    max-width: 284px;
}

.brand-photo {
    width: 100%;
    aspect-ratio: 284 / 193;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.brand-logo {
    width: 70%;
    height: 32px;
    margin-top: 12px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.first-brand-photo {
    background-image: url(../images/first-brand-img.png);
}
.first-brand-logo{
    background-image: url(../images/first-brand-name.png);
}
.second-brand-photo {
    background-image: url(../images/second-brand-img.png);
}
.second-brand-logo{
    background-image: url(../images/second-brand-name.png);
}
.third-brand-photo {
    background-image: url(../images/third-brand-img.png);
}
.third-brand-logo{
    background-image: url(../images/third-brand-name.png);
}
.fourth-brand-photo {
    background-image: url(../images/fourth-brand-img.png);
}
.fourth-brand-logo{
    background-image: url(../images/fourth-brand-name.png);
    width: clamp(40px, 6vw, 60px);
}
/* --------------- Statistics Section --------------------- */
.statistics-section {
    background-color: #f3fafa;
    padding-top: 7.36vw;
}

.statistics-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
    text-align: center;
    margin: 0 auto 4.03vw;
    line-height: 36px;
    letter-spacing: -2px;
}
.statistics-blocks {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding:  40px 0;
}
.statistics-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.statistics-content h3 {
    font-size: 30px;
    font-weight: 700;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
    text-align: center;
    line-height: 36px;
    letter-spacing: -2px;
}
.statistics-content p {
    color: var(--small-text-color);
    font-size: 14px;
    width: 45.13vw;
    font-weight: 500;
    font-family: Inter, sans-serif;
    text-align: center;
    line-height: 22px;
}
.statistics-img {
background-image: url(../images/statistic.png);
 background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 228px;
    height: 200px;
}
/* --------------- Features Section --------------------- */
.features {
    background-color: var(--big-bg-color);
    padding-top: 6vw;
}

.feature-section-title {
    font-size: 30px;
    font-weight: 700;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
    text-align: center;
    margin: 24px 0 60px 0;
    line-height: 36px;
}
.features-blocks {
    flex-direction: column;
    
}
.feature-block {
    flex-direction: column;
    margin-bottom: 128px;
    gap: 31px;
}
.first-feature-block, 
.third-feature-block {
    justify-content: flex-start;
    align-self: flex-start;
}
.second-feature-block {
    justify-content: flex-end;
    align-self: flex-end;
}
.message {
    flex-direction: column;
    margin:0;
    position: relative;
    background: transparent;
    border: 1px solid #d1c7be;
    border-radius: 15px;
    padding: 24px;
    gap: 16px;
}

.quote {
    position: absolute;
    top: -7px;
    color: var(--button-color);
    left: 17px;
    font-size: 40px;
    line-height: 0.8;
    background: var(--big-bg-color); 
    padding: 0 2px;
 }
 .feature-block-title {
    font-size: 26px;
    font-weight: 700;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
 }

.feature-block h2 {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
    color: var(--text-border-color);
    font-family: Inter, sans-serif;
}
.feature-block p {
    color: var(--small-text-color);
    font-size: 15px;
    font-weight: 500;
    font-family: Inter, sans-serif;
    line-height: 26px;
}
.message p {
    color: var(--small-text-color);
    font-size: 12px;
    font-weight: 500;
    font-family: Inter, sans-serif;
    line-height: 22px;
}
.autor span {
    color: #A89B90;
    font-size: 10px;
    font-weight: 400;
    font-family: Inter, sans-serif;
}
.autor {
    align-items: center;
    justify-content: space-between;
}

.feature-logo {
    height: 24px;
    width: auto;
    display: block;
}
.feature-block:last-child {
    margin-bottom: 48px;
}
.button-tirf-feature{
    margin-bottom: 111px;
}


/* --------------- Media Queries --------------------- */

@media (min-width: 769px) {
    .main-container {
        padding: 0 40px;
    }

    .logo img {
        width: 163px;
    }


    .btn-top-down {
        height: 44px;
    }

    .btn-top-down span {
        display: inline;
    }

    .btn-top-down i,
    .btn-top-down img {
        display: none;
    }

    button.login {
        width: 84px;
        font-size: 15px;
        font-weight: 500;
    }

    button.create-account {
        width: 185px;
        font-size: 14px;
        font-weight: 500;
    }

    #headerImage .header-postcard {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .header-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
        align-items: start;
        align-content: center;
        padding: 40px 40px 0;
        gap: 48px 0;
        overflow: hidden;
    }

    .header-title {
        grid-column: 1;
        grid-row: 1;
        font-size: 5.69vw;
        line-height: 1.15;
    }

    .header-subtitle {
        grid-column: 1;
        grid-row: 2;
        font-size: 1.39vw;
    }

    .btn-try-it {
        grid-column: 1;
        grid-row: 3;
        width: 200px;
        height: 44px;
        font-size: 14px;
        margin-top: 0;
        justify-self: start;
    }

    .rating {
        grid-column: 1;
        grid-row: 3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
        justify-self: start;
        align-self: center;
        margin-left: 220px;
    }

    .stars {
        width: auto;
        height: auto;
        gap: 2px;
    }

    .stars img {
        width: 18px;
        height: 18px;
    }

    .reviews {
        font-size: 14px;
    }

    #headerImage {
        grid-column: 2;
        grid-row: 1 / 5;
        width: 100%;
        height: 100%;
        position: relative;
        align-self: center;
        overflow: visible;
    }

    #headerImage .header-postcard {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .header-statistics {
        width: 80%;
        top: 0px;
        right: 30px;
    }
   .brands{
    gap: 8vw;
   }
   .features{
    padding-top: 5.98vw;
   }
   .feature-block {
    flex-direction: column;
    width: 300px;
    margin-bottom: 180px;
    gap: 31px;
}
.feature-section-title {
    margin: 0 auto 9.86vw auto;
    font-size: 40px;
    width: 600px;
}
}

@media (min-width: 1095px) {
.main-container {
        padding: 0 60px;
    }
    .menu-icon {
        display: none;
    }

    .fa-angle-down {
        display: inline;
    }

    .navbar {
        width: 100%;
        padding: 0 75px;
    }

    .main-menu {
        position: static;
        background-color: transparent;
        height: 56px;
        flex-direction: row;
        font-size: 14px;
        justify-content: flex-end;
    }

    .main-menu li:not(:last-child) {
        margin-bottom: 0;
    }

    .main-menu li a {
        padding: 19px;
    }

    .main-menu li:nth-child(odd) a {
        color: #222222;
    }

    button.login {
        margin-left: 19px;
        flex-shrink: 0;
    }

    button.create-account {
        flex-shrink: 0;
    }

    #headerImage {
        max-height: 80vh;
    }

    #headerImage .header-postcard {
        max-height: 80vh;
    }

    .header-statistics {
        width: 80%;

    }
  
    .card {
        width: calc(25% - 15px);
    }
    .brands{
    gap: 20px;
   }
   .brand-logo{
    margin-top: 24px;
   }
   .brand-section-title{
    width: 650px;
    font-size: 4.38vw;
    line-height: 5.28vw;
}
   .statistics-section {
    background-color: #f3fafa;
    padding-top: 7.36vw;
}

.statistics-title {
    width: 603px;
    font-size: 63px;
    margin: 0 auto 4.03vw;
    line-height: 76px;
    letter-spacing: -2px;
}
.statistics-blocks {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 170px;
    padding: 0 0 98px 0;
}
.statistics-content {
    width: 228px;
    gap: 2vw;
}
.statistics-content h3 {
    font-size: 63px;
    line-height: 75px;
}
.statistics-content p {
    width: 228px;
    font-size: 14px;
    line-height: 22px;
}
.statistics-img {
    width: 228px;
    height: 200px;
}
.feature-section-title{
    font-size: 4.86vw;
    line-height: 5.28vw;
    width: 63.45vw;
}
.feature-block h2{
    font-size: 4.17vw;
    line-height: 4.86vw;
}
.first-feature-block, 
.third-feature-block  {
    width: 324px;
}
.second-feature-block {
    width: 645px;
}
.feature-block p {
    font-size: 15px;
    line-height: 26px;
}
.message p {
    font-size: 12px;
    line-height: 22px;
}
.autor span {
    font-size: 10px;
}
}

@media (min-width: 1250px) {
    .main-container {
        padding: 0 75px;
    }
    .header-content {
        grid-template-columns: 1fr 40%;
        align-items: start;
        padding: 148px 0 128px 75px;
    }

    .header-title {
        font-size: 5.69vw;
    }

    .header-subtitle {
        font-size: 1.39vw;
        max-width: 400px;
    }

    .btn-try-it {
        width: 260px;
        height: 64px;
    }

    .rating {
        margin-left: 300px;
        padding-right: 40px;
    }

    #headerImage {
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
        overflow: visible;
        align-self: end;
        grid-row: 1 / 5;
    }

    #headerImage .header-postcard {
        width: 100%;
        height: auto;
        object-fit: contain;
    }

    .header-statistics {
        right: 20px;
        width: 90%;
    }
    .card img:first-child {
    width: 284px;
}
.first-brand-logo{
    width: 184px;
}
.second-brand-logo{
    width: 235px;
}
.third-brand-logo{
    width: 166px;
}
.fourth-brand-logo{
    width: 60px;
}
}